body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.top-header{
    color:#000000;
    font-size: 50px;
    font-weight: 700;
}
.welcome-section span{
    color: #ffa500;
}
.last-header{
    font-size: 19px;
    font-weight: 700;
    color:#000000;
}
.pragraph {
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    line-height: 24px;
    max-width: 537px;
}
.button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background: #FF6E50;
    padding: 10px 40px;
    border-radius: 5px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    text-decoration: none;
}
.welcome-section{
    display: flex;
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width:50%;
    margin-left: 6%;
}
img{
    width:90%;
}




.dream-big{
    display: flex;
    margin-top: 100px;
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}




.main-experinece{
    display: flex;
}
.experience-section .box-shadow{
    box-shadow: 5px 7px 40px grey;
    padding: 0px 0px 60px 55px;
    border-left: 7px solid #0000FF;
}
.experience-section .box-shadowes{
    box-shadow: 5px 7px 40px grey;
    padding: 0px 0px 60px 55px;
    border-left: 7px solid #FF6347;
}
.main-experinece span{
    color: #ffa500;
}
.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 80px;
}




socket p{
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    text-align: center;
    padding-top: 150px;
}